ROOT_DIR=/media/server

CONF_DIR=/media/server/config
MEDIA_DIR=/media/server/media

DOWNLOAD_DIR=/media/server/media/downloads
MOVIE_DIR=/media/server/media/movies
TVSHOW_DIR=/media/server/media/tvshows
TRANSCODING_DIR=/media/server/media/transcoding

UNIFI_DIR=/media/server/unifi
UNIFI_VIDEO_DIR=/media/server/unifi/videos
UNIFI_CONFIG_DIR=/media/server/unifi/config

DECONZ_CONFIG_DIR=/media/server/deconz

BITWARDEN_ADMIN_KEY=foo

TRAEFIK_ACME_EMAIL=janz.jonas@gmail.com
TRAEFIK_EXTERNAL_DOMAIN=mydomain.com
TRAEFIK_INTERNAL_DOMAIN=mydomain.local
